.rangeNum{
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  line-height: 10em;
  margin-top: 50%;
  color: #191970;
  font-size: 2em;

}

.range{
  margin-top: 30%;
  ion-label{
    color: white;
  }
}