


input{
  outline: none;
  background-color: midnightblue;
  color: white;
  border: none;
}


  

textarea{
  padding: 1em;
  width: 100%;
  color: white;
  border: none;
  background-color: midnightblue;
}
