

<ion-content>

  <ion-list lines="full" class="meList">
    
    <ion-item>
      <ion-label>Name</ion-label>
      <input type="text" [(ngModel)]="userInfo.username" style="float: left; text-align: right;">
    </ion-item>
    <ion-item>
      <ion-label>email</ion-label>
      <input type="text" [(ngModel)]="userInfo.phone" style="float: left; text-align: right;">
    </ion-item>
      
    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="userInfo.birthday"></ion-datetime>
    </ion-item>
  </ion-list>

  <!-- {{userInfo|json}} -->
</ion-content>