

input{
    outline: none;
    background-color: midnightblue;
    border: none;
}

// div{
//     width: 3em;
//     height: 3em;
//     background-size: cover;
//     border-radius: 100%;

// }
.meList{
    ion-item{
        line-height: 3;
        color: white;

        
    }

    
}