body{
    color: rgb(75, 75, 75);
}

img{
    width:70%;
    margin: 0 auto;
    margin-top: 30%;
    margin-left: 15%;
}

.loginUsername{
    width: 80%;
    outline-color: white;
    margin-left: 10%;
    margin-top: 80%;
}

.loginBotton{
    width: 80%;
    height: 3em;
    outline: none;
    background-color: white;
    margin-left: 10%;
    margin-top: 5%;
    color: #191970;
}

