<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content >
<!-- <img src="../../assets/images/Ray.png" > -->

    <ion-list inset class="loginUsername">
        <ion-item>
          <ion-input type="text"  placeholder="Username" #username style="color: white;"></ion-input>
          <ion-icon ios="ios-person" md="md-person" item-end [ngStyle]="iconStyle" style="color: white;"></ion-icon>
        </ion-item>
    </ion-list>
    
         <div >
        <ion-button color="lightpink" [routerLink]="['/']" routerLinkActive="router-link-active"  class="loginBotton">
          Sign in
        </ion-button>
      </div> 
</ion-content>
